<div class="container">
    <div class="row" *ngIf="!isLoggedIn(); else welcome">
        <div class="col col12 app-container">
            <h1 class="title">Welcome to the Basecamp Time Wrap</h1>
            <div class="button-container">
                <a class="btn-continue" (click)="onLoginClick()">Click to Login</a>
            </div>
        </div>
    </div>
    <ng-template #welcome>
        <div class="row">
            <h2>Hello, {{user}}</h2>
            <h4>Below is the lists of recent tasks (assigned to you):</h4>
        </div>
    </ng-template>
</div>