<!-- <push-notification title="Basecamp notifications" #notification body="Do you want to enter any time?" icon="http://icons.veryicon.com/256/Internet%20%26%20Web/Socialmedia/Basecamp.png"  (show)="myShowFunction($event)" (close)="mycloseFunction($event)"  (action)="myClickFunction($event)" (load)="notification.show()" > 
</push-notification>-->
<!-- (load)="notification.show()" -->


<button class="btn btn-default">Show Notification</button>
<button class="btn btn-default" (click)="createCommentNotification()">Create Notification</button>